body {
  /* background: #04A1BF; */
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: black;
  text-transform: uppercase;
}

.input-feild {
  display: flex;
  justify-content: center;
}

#enter {
  border: none;
  padding: 5px 15px;
  font-weight: normal;
}

ul {
  text-align: left;
  margin-top: 20px;
}

li {
  list-style: none;
  padding: 10px 10px;
  /* height: 40px; */
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  /* box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.3); */
  display: block;
  align-content: center;
  text-transform: capitalize;
  transition: all 0.75s ease;
}

li .btn-1 {
  background: none;
  border: none;
  float: right;
  color: #DC3545;
  cursor: pointer;
  font-size: 13px;
  padding-top: 3px;
}

li .btn {
  font-weight: normal;
  background: rgb(255, 242, 229);
  color: #FFC107;
  font-size: 13px;
  font-weight: 100;
  border-radius: 8px;
  height: 25px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  float: right;
  cursor: pointer;
  transition: all 0.75s ease;
}

li .btn:hover {
  background: rgb(255, 242, 229);
  color: #FFC107;
}

.color {
  background-color: #E9F6EC !important;
  color: #28A745 !important;
  transition: all 0.75s ease;
}

input {
  border-radius: 5px;
  min-width: 75%;
  padding: 5px;
}

.done {
  color: black;
  text-decoration: line-through;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  display: block;
}

.modal-content div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

select{
  width: fit-content !important;
  margin-left: 8.5%;
  font-size: 14px !important;
}

select:focus{
  box-shadow: none !important;
  outline: none;
  border-color: #DEE2E6 !important;
}
